flows/AutoGenerateCrossSell-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Flag_Auto_Cross_Sell</name>
        <label>Flag Auto Cross-Sell</label>
        <locationX>555</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>boolAutoCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CD_Cross_Sell_Eligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_BB_Cross_Sell</name>
        <label>Flag BB Cross-Sell</label>
        <locationX>554</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>boolBBCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Cross_Sell_Eligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_CD_Cross_Sell</name>
        <label>Flag CD Cross-Sell</label>
        <locationX>554</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>boolCDCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Current_Opps_for_Cross_Sell_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_Virtus_Cross_Sell</name>
        <label>Flag Virtus Cross-Sell</label>
        <locationX>555</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>boolVirtusCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_BB_Cross_Sell_Eligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_Auto_Cross_Sell</name>
        <label>Unflag Auto Cross-Sell</label>
        <locationX>555</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>boolAutoCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_CD_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_BB_Cross_Sell</name>
        <label>Unflag BB Cross-Sell</label>
        <locationX>552</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>boolBBCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Auto_Cross_Sell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_CD_Cross_Sell</name>
        <label>Unflag CD Cross-Sell</label>
        <locationX>552</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>boolCDCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Current_Opps_for_Potential_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_Virtus_Cross_Sell</name>
        <label>Unflag Virtus Cross-Sell</label>
        <locationX>550</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>boolVirtusCrossSell</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_BB_Opp</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>falseTest</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_Auto_Cross_Sells_to_Create</name>
        <label>Are there Auto Cross-Sells to Create?</label>
        <locationX>57</locationX>
        <locationY>1537</locationY>
        <defaultConnector>
            <targetReference>Are_there_CD_Cross_Sells_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Auto_Cross_Sells</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolAutoCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Auto_Cross_Sell</targetReference>
            </connector>
            <label>New Auto Cross-Sells</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_BB_Cross_Sells_to_Create</name>
        <label>Are there BB Cross-Sells to Create?</label>
        <locationX>57</locationX>
        <locationY>1422</locationY>
        <defaultConnector>
            <targetReference>Are_there_Auto_Cross_Sells_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_BB_Cross_Sells</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolBBCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BB_Cross_Sell</targetReference>
            </connector>
            <label>New BB Cross-Sells</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_CD_Cross_Sells_to_Create</name>
        <label>Are there CD Cross-Sells to Create?</label>
        <locationX>57</locationX>
        <locationY>1658</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_CD_Cross_Sells</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolCDCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CD_Cross_Sell</targetReference>
            </connector>
            <label>New CD Cross-Sells</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_current_Opps</name>
        <label>Are there current Opps?</label>
        <locationX>219</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Current_Opps_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Virtus_Record_Type</targetReference>
            </connector>
            <label>Current Opps Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Virtus_Cross_Sells_to_Create</name>
        <label>Are there Virtus Cross-Sells to Create?</label>
        <locationX>56</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Are_there_BB_Cross_Sells_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Virtus_Cross_Sells</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolVirtusCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Virtus_Cross_Sell</targetReference>
            </connector>
            <label>New Virtus Cross-Sells</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Auto_Cross_Sell</name>
        <label>Existing Auto Cross-Sell</label>
        <locationX>238</locationX>
        <locationY>1073</locationY>
        <defaultConnector>
            <targetReference>Existing_CD_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Auto_Cross_Sell_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AutoRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unflag_Auto_Cross_Sell</targetReference>
            </connector>
            <label>Auto Cross-Sell Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_BB_Opp</name>
        <label>Existing BB Opp?</label>
        <locationX>237</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>Existing_Auto_Cross_Sell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BB_Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BusinessBankingRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unflag_BB_Cross_Sell</targetReference>
            </connector>
            <label>BB Opp Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_CD_Opp</name>
        <label>Existing CD Opp</label>
        <locationX>238</locationX>
        <locationY>1194</locationY>
        <defaultConnector>
            <targetReference>Search_Current_Opps_for_Potential_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CD_Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConsumerDepositsRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unflag_CD_Cross_Sell</targetReference>
            </connector>
            <label>CD Opp Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Virtus_Opp</name>
        <label>Existing Virtus Opp?</label>
        <locationX>235</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Existing_BB_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Virtus_Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VirtusRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unflag_Virtus_Cross_Sell</targetReference>
            </connector>
            <label>Virtus Opp Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Cross_Sell_Eligible</name>
        <label>Is Auto Cross-Sell Eligible?</label>
        <locationX>240</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Is_CD_Cross_Sell_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Auto_Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConsumerDepositsRT.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8 - Boarded/Funded/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Auto_Cross_Sell</targetReference>
            </connector>
            <label>Eligible for Auto Cross-Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BB_Cross_Sell_Eligible</name>
        <label>Is BB Cross-Sell Eligible?</label>
        <locationX>240</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Is_Auto_Cross_Sell_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_BB_Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VirtusRT.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8 - Boarded/Funded/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_BB_Cross_Sell</targetReference>
            </connector>
            <label>Eligible for BB Cross-Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CD_Cross_Sell_Eligible</name>
        <label>Is CD Cross-Sell Eligible?</label>
        <locationX>241</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Search_Current_Opps_for_Cross_Sell_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_CD_Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AutoRT.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8 - Boarded/Funded/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_CD_Cross_Sell</targetReference>
            </connector>
            <label>Eligible for CD Cross-Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Virtus_Cross_Sell_Eligible</name>
        <label>Is Virtus Cross-Sell Eligible?</label>
        <locationX>241</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Is_BB_Cross_Sell_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Virtus_Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BusinessBankingRT.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8 - Boarded/Funded/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Virtus_Cross_Sell</targetReference>
            </connector>
            <label>Eligible for Virtus Cross-Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Possible_Cross_Sells</name>
        <label>Possible Cross-Sells?</label>
        <locationX>52</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Continue_Cross_Sell_Evaluation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>boolAutoCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolBBCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolCDCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolVirtusCrossSell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Current_Opps_for_Potential_Duplicates</targetReference>
            </connector>
            <label>Continue Cross-Sell Evaluation</label>
        </rules>
    </decisions>
    <description>Auto-Generate Cross-Sell Opportunities based on existing Opportunity status</description>
    <interviewLabel>AutoGenerateCrossSell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoGenerateCrossSell</label>
    <loops>
        <name>Search_Current_Opps_for_Cross_Sell_Conditions</name>
        <label>Search Current Opps for Cross-Sell Conditions</label>
        <locationX>48</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>CurrentOpportunity</assignNextValueToReference>
        <collectionReference>SOC_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Virtus_Cross_Sell_Eligible</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Possible_Cross_Sells</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Search_Current_Opps_for_Potential_Duplicates</name>
        <label>Search Current Opps for Potential Duplicates</label>
        <locationX>50</locationX>
        <locationY>732</locationY>
        <assignNextValueToReference>CurrentOpportunity</assignNextValueToReference>
        <collectionReference>SOC_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Virtus_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_Virtus_Cross_Sells_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Auto_Cross_Sell</name>
        <label>Create Auto Cross-Sell</label>
        <locationX>373</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>Are_there_CD_Cross_Sells_to_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-Generated Cross-Sell - Auto Lending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ApiUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AutoRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_BB_Cross_Sell</name>
        <label>Create BB Cross-Sell</label>
        <locationX>373</locationX>
        <locationY>1419</locationY>
        <connector>
            <targetReference>Are_there_Auto_Cross_Sells_to_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-Generated Cross-Sell - Business Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ApiUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BusinessBankingRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CD_Cross_Sell</name>
        <label>Create CD Cross-Sell</label>
        <locationX>375</locationX>
        <locationY>1658</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-Generated Cross-Sell - Consumer Deposits</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ApiUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ConsumerDepositsRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Virtus_Cross_Sell</name>
        <label>Create Virtus Cross-Sell</label>
        <locationX>374</locationX>
        <locationY>1309</locationY>
        <connector>
            <targetReference>Are_there_BB_Cross_Sells_to_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-Generated Cross-Sell - Virtus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ApiUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VirtusRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_API_User</name>
        <label>Get API User</label>
        <locationX>679</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Current_Opps_for_Cross_Sell_Conditions</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API Service Account</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>ApiUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Auto_Record_Type</name>
        <label>Get Auto Record Type</label>
        <locationX>826</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CD_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto_Loan_Indirect</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AutoRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_BB_Record_Type</name>
        <label>Get BB Record Type</label>
        <locationX>673</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auto_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Banking_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>BusinessBankingRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CD_Record_Type</name>
        <label>Get CD Record Type</label>
        <locationX>827</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_API_User</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer_Deposits</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ConsumerDepositsRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opportunities</name>
        <label>Get Current Opportunities</label>
        <locationX>52</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_current_Opps</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SOC_Opps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Virtus_Record_Type</name>
        <label>Get Virtus Record Type</label>
        <locationX>525</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BB_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtus</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>VirtusRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <startElementReference>Get_Current_Opportunities</startElementReference>
    <variables>
        <description>Account to evaluate for cross-sell opportunities</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>API User account</description>
        <name>ApiUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Auto Opportunity record type</description>
        <name>AutoRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Flag to create Auto Opp</description>
        <name>boolAutoCrossSell</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to create BB Opp</description>
        <name>boolBBCrossSell</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to create CD Cross-Sell Opp</description>
        <name>boolCDCrossSell</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Flag to create Virtus Opportunity</description>
        <name>boolVirtusCrossSell</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Business Banking Opportunity record type</description>
        <name>BusinessBankingRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Consumer Deposits Opportunity record type</description>
        <name>ConsumerDepositsRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>current Opp being evaluated</description>
        <name>CurrentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Current Opportunities</description>
        <name>SOC_Opps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Virtus Opportunity record type</description>
        <name>VirtusRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
