flows/C_I_Update_Boarding_Form_Record_Type-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Creates the BF at the point of LOQ Status Update to Approved</description>
    <interviewLabel>C&amp;I: Update Boarding Form Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C&amp;I: Update Boarding Form Record Type</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Boarding_Form</name>
        <label>Create Boarding Form</label>
        <locationX>234</locationX>
        <locationY>294</locationY>
        <assignRecordIdToReference>BoardingFormID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LOQ</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Summary__c</field>
            <value>
                <elementReference>OriginationSummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participation_Deal_Summary__c</field>
            <value>
                <elementReference>ParticipationDealSummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BoardingFormRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_LOQ__c</field>
            <value>
                <elementReference>LOQ_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Boarding_Form__c</object>
    </recordCreates>
    <recordLookups>
        <name>FindRecordTypeID_PostApproval</name>
        <label>FindRecordTypeID_PostApproval</label>
        <locationX>235</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Boarding_Form</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post_LOQ_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Boarding_Form__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BoardingFormRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_LOQ</name>
        <label>Update LOQ</label>
        <locationX>231</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOQ_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boarding_Form__c</field>
            <value>
                <elementReference>BoardingFormID</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Ops_Questionnaire__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>233</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Update_Origination_Summary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boarding_Form__c</field>
            <value>
                <elementReference>BoardingFormID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Summary</name>
        <label>Update Origination Summary</label>
        <locationX>233</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>Update_PDS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginationSummaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boarding_Form__c</field>
            <value>
                <elementReference>BoardingFormID</elementReference>
            </value>
        </inputAssignments>
        <object>Origination_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDS</name>
        <label>Update PDS</label>
        <locationX>421</locationX>
        <locationY>627</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParticipationDealSummaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boarding_Form__c</field>
            <value>
                <elementReference>BoardingFormID</elementReference>
            </value>
        </inputAssignments>
        <object>Participation_Deal_Summary__c</object>
    </recordUpdates>
    <startElementReference>FindRecordTypeID_PostApproval</startElementReference>
    <variables>
        <description>Pushed from the LOQ</description>
        <name>BoardingFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BoardingFormRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOQ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginationSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipationDealSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
