flows/C_I_SFDC2_Related_Records-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>C&amp;I SFDC2 Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C&amp;I SFDC2 Related Records</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LOQ</name>
        <label>Create LOQ</label>
        <locationX>607</locationX>
        <locationY>159</locationY>
        <assignRecordIdToReference>LOQ_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Origination_Summary</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Ops_Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Origination_Summary</name>
        <label>Create Origination Summary</label>
        <locationX>234</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>OriginationSummaryID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_ParticipationSummary_RecordTypeID</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OriginationSummaryRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Origination_Summary__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Participation_Deal_Summary</name>
        <label>Create Participation Deal Summary</label>
        <locationX>427</locationX>
        <locationY>154</locationY>
        <assignRecordIdToReference>ParticipationDealSummaryID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_LOQ</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Summary__c</field>
            <value>
                <elementReference>OriginationSummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ParticipationDealSummary_RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Participation_Deal_Summary__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_OriginationSummary_RecordTypeID</name>
        <label>Find OriginationSummary RecordTypeID</label>
        <locationX>227</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Origination_Summary</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Origination_Summary__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OriginationSummaryRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_ParticipationSummary_RecordTypeID</name>
        <label>Find ParticipationSummary RecordTypeID</label>
        <locationX>425</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Participation_Deal_Summary</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Participation_Deal_Summary__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ParticipationDealSummary_RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>500</locationX>
        <locationY>316</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Ops_Questionnaire__c</field>
            <value>
                <elementReference>LOQ_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Summary__c</field>
            <value>
                <elementReference>OriginationSummaryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participation_Deal_Summary__c</field>
            <value>
                <elementReference>ParticipationDealSummaryID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Summary</name>
        <label>Update Origination Summary</label>
        <locationX>224</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginationSummaryID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Participation_Deal_Summary__c</field>
            <value>
                <elementReference>ParticipationDealSummaryID</elementReference>
            </value>
        </inputAssignments>
        <object>Origination_Summary__c</object>
    </recordUpdates>
    <startElementReference>Find_OriginationSummary_RecordTypeID</startElementReference>
    <variables>
        <name>BoardingFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoardingFormRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOQ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>From the autolaunch flow</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CRESL_SFDC2</stringValue>
        </value>
    </variables>
    <variables>
        <name>OriginationSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginationSummaryRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipationDealSummary_RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipationDealSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
