flows/Campaign_Financial_Account_Rewards_Checking_FLOW-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CampaignMember_Exists</name>
        <label>CampaignMember Exists?</label>
        <locationX>604</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingCampaignMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCampaignMember</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign: Financial Account - Rewards Checking FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: Financial Account - Rewards Checking FLOW</label>
    <loops>
        <name>Process_All_Found_FACLs</name>
        <label>Process All Found FACLs</label>
        <locationX>187</locationX>
        <locationY>359</locationY>
        <assignNextValueToReference>ProcessedFACLs</assignNextValueToReference>
        <collectionReference>FACLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Campaign_Member</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCampaignMember</name>
        <label>CreateCampaignMember</label>
        <locationX>733</locationX>
        <locationY>512</locationY>
        <assignRecordIdToReference>CampaignMemberID</assignRecordIdToReference>
        <connector>
            <targetReference>Process_All_Found_FACLs</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ProcessedFACLs.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Campaign_Member</name>
        <label>Find Campaign Member</label>
        <locationX>405</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMember_Exists</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessedFACLs.Contact__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>ExistingCampaignMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCampaign</name>
        <label>FindCampaign</label>
        <locationX>187</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindFACLs</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID_Input</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindFACLs</name>
        <label>FindFACLs</label>
        <locationX>189</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_All_Found_FACLs</targetReference>
        </connector>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountID</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Contact_Link_SFDC2__c</object>
        <outputReference>FACLs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Campaign_Member</name>
        <label>Update Existing Campaign Member</label>
        <locationX>455</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Process_All_Found_FACLs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingCampaignMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <startElementReference>FindCampaign</startElementReference>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingCampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FACLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account_Contact_Link_SFDC2__c</objectType>
    </variables>
    <variables>
        <name>FinancialAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessedFACLs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account_Contact_Link_SFDC2__c</objectType>
    </variables>
</Flow>
