flows/Five9_Add_to_List-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Contolling_Object</name>
        <label>Contolling Object</label>
        <locationX>245</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>five9List_ControllingObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContact</targetReference>
            </connector>
            <label>IsAccount</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>five9List_ControllingObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <interviewLabel>Five9: Add to List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Five9: Add to List</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>403</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Five9ListRecord</name>
        <label>Five9ListRecord</label>
        <locationX>246</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contolling_Object</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Five9ListID</elementReference>
            </value>
        </filters>
        <object>Five9LSP__Five9_List__c</object>
        <outputAssignments>
            <assignToReference>five9List_ControllingObject</assignToReference>
            <field>Five9LSP__Controlling_Object__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>551</locationX>
        <locationY>465</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Five9ListID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>95</locationX>
        <locationY>463</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_to_f9list_id__c</field>
            <value>
                <elementReference>Five9ListID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Five9ListRecord</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>five9List_ControllingObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Five9ListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
