flows/JBSystemFlow_CampaignMember-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_FireJBTrigger</name>
        <label>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Common&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>6248716</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;ContactId&quot;,&quot;CampaignId&quot;,&quot;CreatedDate&quot;,&quot;et4ae5__Activity__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contacts and Leads&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Common:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</name>
        <label>JB_Decision_Null_Check_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Decision</name>
        <label>JB_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7010H000002JBeaQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CampaignMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj372cdf2a58fed8df55b0bd502c590e8e</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
