flows/JBSystemFlow_Account-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_FireJBTrigger</name>
        <label>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>6241641</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonHomePhone&quot;,&quot;Business_Email_SFDC2__pc&quot;,&quot;Business_Phone_SFDC2__pc&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Business_Email_SFDC2__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</name>
        <label>JB_Decision_Null_Check_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Decision</name>
        <label>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Business_Email_SFDC2__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>srouzbehani@axosbank.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_State_change_Decision</name>
        <label>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Business_Email_SFDC2__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>srouzbehani@axosbank.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjf103f9a72e387d3c17eb2924ac75f1a0</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
