flows/Lookup_Email_Milestone_and_Complete-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Flow is called by a process builder to automatically complete the email milestone when a response is sent</description>
    <interviewLabel>Lookup Email Milestone and Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Email Milestone and Complete</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_Up_Case_ID</name>
        <label>Look Up Case ID</label>
        <locationX>471</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Email_Milestone</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Email_Milestone</name>
        <label>Lookup Email Milestone</label>
        <locationX>475</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_First_Response_Milestone_as_Complete</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Response</stringValue>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputAssignments>
            <assignToReference>MilestoneId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Reset_ReplyRequired</name>
        <label>Reset ReplyRequired</label>
        <locationX>466</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Update_Subsequent_Reponse_Milestone_as_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReplyRequired__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_First_Response_Milestone_as_Complete</name>
        <label>Update Case First Response Milestone as Complete</label>
        <locationX>472</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Reset_ReplyRequired</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subsequent_Reponse_Milestone_as_Complete</name>
        <label>Update Subsequent Reponse Milestone as Complete</label>
        <locationX>449</locationX>
        <locationY>567</locationY>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5570H000000blL7</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <startElementReference>Look_Up_Case_ID</startElementReference>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
