flows/Lookup_Next_Milestone-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>957</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>lookup_next_milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SLA_Field</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Status</name>
        <label>Is New?</label>
        <locationX>535</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>Check_Changed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;New&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_MS</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <description>Sets the custom field to display in list view</description>
    <formulas>
        <name>AddMinute</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/1440)</expression>
    </formulas>
    <formulas>
        <name>NowCheck</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lookup Next Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Next Milestone</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>535</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_CaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_Changed_Status</name>
        <label>Check Changed Status</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_is_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_Closed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_next_milestone</name>
        <label>lookup_next_milestone</label>
        <locationX>539</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SLA_Field</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>var_milestoneTargetDate</assignToReference>
            <field>TargetDate</field>
        </outputAssignments>
        <sortField>TargetDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_SLA_Field</name>
        <label>Set SLA Field</label>
        <locationX>534</locationX>
        <locationY>620</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_SLA_Due__c</field>
            <value>
                <elementReference>var_milestoneTargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Check_Case_Status</startElementReference>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TimeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Closed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_milestoneTargetDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MinutesRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WaitOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_MS</name>
        <label>Wait for MS</label>
        <locationX>282</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>Check_Changed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_Changed_Status</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.01</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
