flows/New_Update_Login_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Checked_the_Do_not_show_again_box</name>
        <label>Checked the &quot;Do not show again&quot; box</label>
        <locationX>477</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_read_the_update_Do_not_show_me_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Box_on_User_to_be_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Login_Flow</name>
        <label>Run Login Flow?</label>
        <locationX>246</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Don_t_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserSeenLoginFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Run</label>
        </rules>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserSeenLoginFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Notice_to_Display</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DisplayTextFormula</name>
        <dataType>String</dataType>
        <expression>{!DisplayTextVar}</expression>
    </formulas>
    <formulas>
        <name>UserSeenLoginFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.User_has_seen_Login_Flow__c}</expression>
    </formulas>
    <interviewLabel>New Update Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Update Login Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Notice_to_Display</name>
        <label>Find Notice to Display</label>
        <locationX>249</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Salesforce_Updates</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Notice_Board__c</object>
        <outputAssignments>
            <assignToReference>DisplayTextVar</assignToReference>
            <field>Display_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Box_on_User_to_be_true</name>
        <label>Update Box on User to be true</label>
        <locationX>484</locationX>
        <locationY>613</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_has_seen_Login_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Salesforce_Updates</name>
        <label>Salesforce Updates</label>
        <locationX>474</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checked_the_Do_not_show_again_box</targetReference>
        </connector>
        <fields>
            <name>TestDisplayText</name>
            <fieldText>{!DisplayTextVar}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_have_read_the_update_Do_not_show_me_again</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I have read the update.  Do not show me again</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>{!DisplayTextVar}</pausedText>
    </screens>
    <startElementReference>Run_Login_Flow</startElementReference>
    <variables>
        <name>DisplayTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserHasSeenUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
