flows/Test_Future_Action_Date-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>665</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Grab_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <label>Closed</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalcNewStart</name>
        <dataType>DateTime</dataType>
        <expression>{!var_FutureActionDate}-({!var_TargetDate}-{!var_FutureActionDate})</expression>
    </formulas>
    <interviewLabel>Test Future Action Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Future Action Date</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Changed_Stauts</name>
        <label>Check Changed Stauts</label>
        <locationX>663</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_is_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Grab_Target_Date</name>
        <label>Grab Target Date</label>
        <locationX>668</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grab_Time_Remaining</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputAssignments>
            <assignToReference>var_TargetDate</assignToReference>
            <field>TargetDate</field>
        </outputAssignments>
        <sortField>TargetDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Grab_Time_Remaining</name>
        <label>Grab Time Remaining</label>
        <locationX>669</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Entitlement_Process_Start</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_FutureActionDate</assignToReference>
            <field>Future_Action_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Entitlement_Process_Start</name>
        <label>Set Entitlement Process Start</label>
        <locationX>670</locationX>
        <locationY>637</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_SLA_Due__c</field>
            <value>
                <elementReference>CalcNewStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaStartDate</field>
            <value>
                <elementReference>CalcNewStart</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Wait_for_MS</startElementReference>
    <variables>
        <name>var_CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FutureActionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MinuteDifference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_TargetDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_MS</name>
        <label>Wait for MS</label>
        <locationX>664</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Check_Changed_Stauts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_Changed_Stauts</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.01</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
